.Contador input {
    font-size: 1rem;
    width: 60px;
}

.Contador button {
    margin: 5px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #149903;
    color: #fff;
    font-size: 1.4rem;
}